[submodule "Todo-backend"]
	path = Todo-backend
	url = https://github.com/KareemWilson/Todo-backend
	branch = main
[submodule "Todo-mobile"]
	path = Todo-mobile
	url = https://github.com/KareemWilson/Todo-mobile.git
	branch = main
